<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" 
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.0.xsd">

    <http auto-config="true">
        <intercept-url pattern="/administrador/**" access="ROLE_A" />
        <intercept-url pattern="/colaborador/**" access="ROLE_C, ROLE_A" />
        <intercept-url pattern="/usuario/**" access="ROLE_A, ROLE_C" />        
        <form-login 
            login-page="/login.xhtml"
            authentication-success-handler-ref="myLoginHandler" 
            authentication-failure-url = "/login.xhtml?e=-1"/>
        <access-denied-handler error-page="/acessoNegado.xhtml"/>
        <logout invalidate-session="true"/>
        <!--<remember-me token-validity-seconds="3600"/>-->
        <session-management 
            session-fixation-protection="newSession"
            invalid-session-url="/login.xhtml"/>
    </http>
    
    <beans:bean 
        id="myLoginHandler"
        class="br.org.centrocac.spring.LoginHandler">
    </beans:bean>
    
<!--    <beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <beans:property name="url" value="jdbc:mysql://localhost:3306/smspde"/>
        <beans:property name="username" value="root"/>
        <beans:property name="password" value="root"/>
    </beans:bean>-->
    
    <beans:bean 
        id="passwordEncoder" 
        class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
        <beans:constructor-arg value="256"/>
    </beans:bean>
    <beans:bean 
        id="myAuthenticationHandler" 
        class="br.org.centrocac.spring.AuthenticationHandler"
    />

    <authentication-manager>
        <authentication-provider ref="myAuthenticationHandler">
            <!--            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query="SELECT email as username, 
                                                    senha as password, 
                                                    true as enable
                                                    FROM conta WHERE email=?"
                               authorities-by-username-query="SELECT email, 
                                                    concat('ROLE_', perfil) as authority 
                                                    FROM conta WHERE email=?"
            />-->
            <!--<password-encoder ref="passwordEncoder"/>-->
        </authentication-provider>
    </authentication-manager>

</beans:beans>
